.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.mailTitle {
  font-size: 24px;
}

.mailDesc {
  font-size: 16px;
}

.mailInputContainer {
  display: flex;
  gap: 10px;
}

.mailInput {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 300px;
}

.mailInputContainer button {
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mailInputContainer button:hover {
  background-color: #005ea6;
}

.mailMessage {
  font-size: 14px;
  color: #ffd700; /* Yellow for visibility */
}